<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel = 'stylesheet' href = '{% static "css/styles.css" %}'>
    <script src = "{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>NAME</h1>

<footer class="footer">
    <div class="footer-hrefs">
        <ul class = "footer-list">
            <li>Доставка</li>
            <li>Политика конфиденциальности</li>
            <li>Бланк на возврат</li>
            <li>Договор купли-продажи</li>
            <li>Публичная оферта</li>
            <li>Контакты</li>
        </ul>
    </div>
</footer>
</body>
</html>