<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel = 'stylesheet' href = '{% static "css/styles.css" %}'>
    <script src = "{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body class="body">
{% if not request.path == '/login/' %}
  <header class="header">
    <a href="#">CATALOG</a>
    <a href="#">INFORMATION</a>
    <a href="#">REVIEWS</a>
    <a href="login/" class="header-pic"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
  </header>
{% endif %}
  {% block content %}
  {% endblock %}
  <footer class="footer">
    <div class="footer-hrefs">
      <ul class="footer-list">
        <li><a href="#">DELIVERY</a></li>
        <li><a href='#'>PRIVACY POLICY</a></li>
        <li><a href="#">MONEYBACK</a></li>
        <li><a href="a">CONTACTS</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>