<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel = 'stylesheet' href = '{% static "css/styles.css" %}'>
    <script src = "{% static 'js/script.js' %}"></script>
</head>

<body>
  <header class="header">
    <p>CATALOG</p>
    <p>INFORMATION</p>
    <p>REVIEWS</p>
    </div>
  </header>
  <div class="main-pic">
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
  </div>
  <footer class="footer">
    <div class="footer-hrefs">
      <ul class="footer-list">
        <li>DELIVERY</li>
        <li>PRIVACY POLICY</li>
        <li>MONEYBACK</li>
        <li>CONTACTS</li>
      </ul>
    </div>
  </footer>
</body>

</html>