{% extends 'base.html' %}
{% block content %}

<div class="main-pic">
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
    <img src=https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/03.jpg></img>
  </div>
  <div class="catalog-pic br-10">
    <a href="#">
      <p>299$</p><img src="https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/02.jpg"></img>
    </a>
  </div>
  <div class="catalog-pic br-10">
    <a href="#">
      <p>299$</p><img src="https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/02.jpg"></img>
    </a>
  </div>
  <div class="catalog-pic br-10">
    <a href="#">
      <p>299$</p><img src="https://learninginhand.squarespace.com/storage/backgrounds/black_numbers/02.jpg"></img>
    </a>
  </div>

{% endblock %}