@font-face {
  font-family: "MonsterImport";
  src: url(../fonts/Monsterdemo.ttf);
}
* {
  font-family: "MonsterImport";
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

.header {
  background: #F8F8FF;
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
  padding: 0 20% 30px;
}
.header a {
  padding-top: 30px;
  color: black;
}

.menu-hrefs {
  list-style-type: none;
}

.main-pic {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  box-shadow: 5px 17px 35px 2px purple;
}
.main-pic img {
  width: 33.333%;
  height: 600px;
}
.catalog-pic img {
  display: flex;
  width: 600px;
  height: 700px;
  margin: 0 auto;
  padding: 35px;
}
.catalog-pic {
}

.footer {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer-hrefs {
  color: #ffe0e0;
  height: 150px;
}
.footer-list li {
  color: #ffe0e0;
  background: black;
  font-size: x-large;
}
.footer-list {
  list-style-type: none;
  padding: 18px;
}
.footer a {
  color: white;
}